/* Optional */
/*region = ""*/
/*instance_type = ""*/
/*subnet_id = ""*/
/*enable_public_ip =*/
/*tags = {}*/

iam_instance_profile = ""
image_id = ""
key_pair = ""
sg_id = "instanec-security-group-id"
private_key_path = "/path/to/private-key"
